<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- If we need to redirect somewhere use the following line after uncommenting it. -->
    <!--    <meta http-equiv="refresh" content="0 ;url='https://www.datv-express.com/'"/>-->
    <title>Display Versatune Channels</title>

    <!-- include CSS in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/templates.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--    <script type="text/javascript">-->
<!--        function codeAddress() {-->
<!--            alert('ok');-->
<!--        }-->

<!--        window.onload = codeAddress;-->
<!--    </script>-->
</head>
<body>
<div class="mainContainer" style="margin: auto; width: auto;">
    <div class="text-center" id="top-section">
        <h1>TOP SECTION</h1>
        <p>This is the top section. Maybe it will contain a banner.</p>
        <p><span th:text="${topText}"></span></p>
    </div>
    <div class="text-center" id="middle-section">
        <h1>MIDDLE SECTION</h1>
        <p>The table will be going here</p>
        <a href="/new">Add New Channel</a>

        <table class = "table table-responsive table-bordered table-striped">
            <thead>
            <tr>
                <th>SCAN CHAN</th>
                <th>FREQ</th>
                <th>SYMB</th>
                <th>BW</th>
                <th>FEC</th>
                <th>INPUT</th>
                <th>PID_AUD</th>
                <th>PID_VID</th>
                <th>LNB_13V</th>
                <th>LNB_18V</th>
                <th>LNB_22KHZ</th>
                <th>ENABLED</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="channel : ${listChannels}">
                <td th:text="${channel.channel}">CHAN</td>
                <td th:text="${channel.frequency}">FREQ</td>
                <td th:text="${channel.symbolRate}">SYMB</td>
                <td th:text="${channel.bandwidth}">BW</td>
                <td th:text="${channel.fec}">FEC</td>
                <td th:text="${channel.inputDevice}">INPUT</td>
                <td th:text="${channel.pidAudio}">PID_AUD</td>
                <td th:text="${channel.pidVideo}">PID_VID</td>
                <td th:text="${channel.lnb_13v}">LNB_13v</td>
                <td th:text="${channel.lnb_18v}">LNB_18V</td>
                <td th:text="${channel.khz_22}">LNB_22KHZ</td>
                <td th:text="${channel.enableChan}">ENABLED</td>
                <td>
                    <a th:href="@{/edit/{id}(id=${channel.id})}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/delete/{id}(id=${channel.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <p><span th:text="${middleText}"></span></p>
    </div>
    <div class="text-center" id="bottom-section">
        <h1>BOTTOM SECTION</h1>
        <p>Perhaps another banner or a footer</p>
        <p><span th:text="${bottomText}"></span></p>
    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
<script type="text/javascript">

</script>

</body>
</html>

