<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- If we need to redirect somewhere use the following line after uncommenting it. -->
<!--    <meta http-equiv="refresh" content="0 ;url='https://www.datv-express.com/'"/>-->
    <title>VersaTune Setup Page</title>

    <!-- include CSS in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/templates.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>

</head>
<body>
<main role="main" class="container" style="margin: auto; width: auto;">
    <div id="page-container">
        <div id="content-wrap">
            <div id="top-section" class="align-content-center">
                <h2 class="text-center">Top</h2>
                <p class="text-center"><span th:text="${topText}"></span></p>
            </div>
            <div id="middle-section" class="align-content-center">
                <h2 class="text-center">Middle</h2>
                <p class="text-center"><span th:text="${middleText}"></span></p>
            </div>

            <div id="bottom-section" class="align-content-center">
                <h2  class="text-center">Bottom</h2>
                <p class="text-center"><span th:text="${bottomText}"></span></p>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
<script type="text/javascript">

</script>

</body>
</html>